---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/global.css'
import { ViewTransitions } from 'astro:transitions';


const pageTitle = 'My Astro Site'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <link rel="stylesheet" href="../../node_modules/@dietechniker/ds-web-components/dist/themes/light.css" />

    <script type="module" data-tkds="../../node_modules/@dietechniker/ds-web-components/dist/">
      import '../../node_modules/@dietechniker/ds-web-components/dist/components/button/button.js';

      // <tk-button> is ready to use!
    </script>


    <ViewTransitions />
  </head>
  <body>
    <Header />
    <main>
      <h1>{pageTitle}</h1>
    <tk-button size="large" >Click me</tk-button>
    </main>
    <Footer />
    <script>
      import '../scripts/menu.js'

      const testButton = document.querySelector("tk-button");
      testButton?.addEventListener('click', event => {
        console.log("Button clicked!");
      });
      function handleButtonClick() {
        console.log("Button clicked!");
      }
    </script>
  </body>
</html>
