---
import NavigationLink, { type NavLink } from './NavigationLink.astro'

interface Props {
  navList: NavLink[]
}

const { navList } = Astro.props
---

<nav class="mainnav">
  <ul>
    {
      navList.map((item) => (
        <li>
          <NavigationLink
            title={item.title}
            label={item.label}
            url={item.url}
            ariaLabel={item.ariaLabel}
          />
        </li>
      ))
    }
  </ul>
</nav>
